@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>
        <form action="/Home/Alta" method="post">
            <label>Codigo:</label>
            <input type="number" name="codigo" />
            <br />
            <label>Descripcion:</label>
            <input type="text" name="descripcion" />
            <br />
            <label>Precio:</label>
            <input type="text" name="precio" />
            <br />
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
